mixin tablet()
	section.tablet

		.tablet__background

			.tablet__header Откройте мир Интернета АКАДО для вашего бизнеса

			.tablet__cost 1 000
				span руб/мес

			a(href="#" title="").tablet__click#click-modal Подробнее

			.tablet__list.tablet__list--fast-connect Быстрое и бесплатное подключение

			.tablet__list.tablet__list--personal-manager Персональный менеджер ответит на все ваши вопросы

			.tablet__action-title Акция действует до 31 мая 2015

			.tablet__action-counter
				.tablet__action-counter__elem.tablet__action-counter__elem--circle42
				.tablet__action-counter__elem.tablet__action-counter__elem--circle64
				.tablet__action-counter__elem.tablet__action-counter__elem--circle85#daysOff
					span
					.tablet__action-counter__elem__before осталось
					.tablet__action-counter__elem__after дней

			.tablet__phone Звоните по номеру +7 (499) 000–00–00

		.tablet__hover
